{% extends 'base.html' %}

    {% block title %}
    <title>Uplaod Data</title>
    {% endblock %}
{% block content %}
<div class="container jumbotron ">
    <div class="custom col-10">

        <form method="post" enctype="multipart/form-data">
            <h1 class ='text-center'>Uplaod Data</h1><br>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="UPLOAD" class="btn btn-success float-left">
            <input type="reset" value="RESET" class ='btn btn-warning float-right'>
        </form>

</div>
<script>
    document.getElementById('uploadButton').addEventListener('click', function() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        if (file) {
            var formData = new FormData();
            formData.append('file', file);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload/', true);

            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    document.getElementById('progressBar').style.width = percentComplete + '%';
                }
            };

            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Upload complete');
                }
            };

            xhr.send(formData);
        }
    });
</script>
</div>
{% endblock content %}